#login-dp{
  min-width: 250px;
  padding: 14px 14px 0;
  overflow:auto;
}

@media(max-width:768px){
  #login-dp{
      background-color: inherit;
      color: #fff;
  }
}

.navbar{
  margin-bottom:0;
}
.navbar-right {
  margin-top: 10px;
}
.logoNavbar{
  height: 50px;
}
.userName{
  margin-top: 17px;
  color: #fff;
  margin-right: 10px;
}
.userLogoSettings{
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
}

.dropdown-menu li{
  cursor: pointer;
}